h1{
    color: #0d6efd;
}

#exampleFormControlInput1{
    width: 50%;
}

#form-select{
    width: 50%;
}

#exampleFormControlTextarea1{
    width: 50%;
}

#button{
    font-weight: bold;
    margin-left: 22%;
}